<md-card>
  <md-list>
    <md-card-title>App All Users</md-card-title>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>View Bookings</th>
        <th>Delete User</th>
      </tr>

      <tr *ngFor="let user of allUsers; let i = index">
        
          <th *ngIf="user.name != 'Admin'">{{user.name}}</th>
          <th *ngIf="user.userName != 'admin@admin.com'">{{user.userName}}</th>
          <th *ngIf="user.name != 'Admin'"><button md-raised-button color="warn" (click)="viewUserBookings(i)">show booking</button></th>
          <th *ngIf="user.name != 'Admin'"><button md-raised-button color="primary" (click)="deleteUser(i)">delete user</button></th>
        
      </tr>
    </table>
  </md-list>
</md-card>